.h-stack {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: var(--gap, 8px);
    align-items: center;

    & > * {
        width: auto;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }
}

.v-stack {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--gap, 8px);
}
