---
import "../styles/thincss.scss"
import "../styles/doc.css";
import Root from "../components/root.astro"
import IndexDoc from "../html/indexdoc.md";
---

<Root>
 <div class="page-container">
    <IndexDoc />
 </div>
</Root>
